<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/slider.css">
    <title>Update Profile</title>

</head>


<nav class="navbar navbar-expand-md navbar-dark navbar-color">
    <a class="navbar-brand" href="/home">Memoir</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">

            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="#">Memoir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
            </li>


        </ul>

        <form class="form-inline" action="/search" method="POST">

            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-sm-0" type="submit">Search</button>
        </form>

    </div>

</nav>


<!-- Show memo  -->

<section class="section about-section gray-bg" id="about">
    <div class="container ">
        <div class="cards">
            <div class="memo">

                <div class="blog-post-info ml-5 ">
                    <div class="blog-post-title  text-center">

                        <form action="/updateProfile?_method=PUT" class="form-container" method="POST">
                            <h3> Edit Your Profile</h3>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                                    placeholder="Name" name="name" value=<%=user.name%>>
                            </div>

                            <div class="form-group">
                                <label for="image">Profile Image</label>
                                <input type="text" class="form-control" id="image" aria-describedby="emailHelp"
                                    placeholder="Image link" name="image" value=<%=user.image%>>
                            </div>
                            <div class="form-group">
                                <label for="bio">Profile bio</label>
                                <textarea type="text" class="form-control" placeholder="Enter your bio" name="bio"
                                    cols="54" id="bio" rows="3"><%=user.bio%></textarea>
                            </div>
                            <input type="submit" class="btn search-color btn-send" value="Update Profile">

                        </form>
                    </div>


                </div>
            </div>



        </div>

    </div>
</section>
<!-- end show memo -->

</body>